@{
    ViewData["Title"] = "Index";
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/brackets.css">
}

<h1>Index</h1>

<div class="linha">
    <div class="col-1-8">
        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-1-8">
        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-1-8">
        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-1-8 champ">
        <div class="round-two-top">
            <ul class="matchup">
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">1</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="input-group flex-nowrap input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">16</span>
                        </div>
                        <input type="text" class="form-control bg-light" placeholder="TBA" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <div class="input-group-append ">
                            <button class="btn btn-sm btn-info" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
