<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Competicao</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <img src="trofeu_logo_nhl.png" alt="Trofeu" width="60px" height="60px">

        <nav id="">
            <a id="menu" class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a id="menu" class="" asp-area="" asp-controller="Torneio" asp-action="Index">Torneio</a>
            <a id="menu" class="" asp-area="" asp-controller="Time" asp-action="Index">Time</a>
            <a class="button" asp-area="" asp-controller="Infra" asp-action="Acessar">Login</a>
        </nav>
    </header>
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Competicao - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
