@{
    ViewData["Title"] = "Home Page";
}
<section class="banner">
    <div class="wrapper">
        <div id="box">
            <h1>Começar</h1>
            <h2>Monte o seu torneio</h2>
        </div>
        <div class="navigation">
            <a class="button" href="">Começar</a>
            <a class="button" href="">Saber mais</a>
        </div>
    </div>
</section>